In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.shape

(404290, 6)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
new_df = df.sample(30000)

In [6]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [8]:
new_df.duplicated().sum()

0

In [9]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
321710,Is it possible to install a custom operating s...,How is device management used in an operating ...
115963,How do you define 'life'?,How can you define life?
91088,What is the best solution for SaaS companies t...,Is there a scenario where cure is better than ...
107484,How do I contact someone on Quora?,How can I directly contact a person on Quora?
20599,How can I get divorced if I have no money?,What is the best way to get divorced?

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr,q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [11]:
temp_df1 = pd.DataFrame(q1_arr,index=ques_df.index)
temp_df2 = pd.DataFrame(q2_arr,index=ques_df.index)
temp_df = pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(30000, 6000)

In [12]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
321710,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115963,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
91088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172051,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244915,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
353469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81633,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
temp_df['is_duplicate']=new_df['is_duplicate']

In [14]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
321710,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115963,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
91088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
321710,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115963,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
91088,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107484,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172051,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
244915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
35195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81633,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=42)

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7441666666666666

In [23]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(x_train,y_train)
y_pred = xgb.predict(x_test)
accuracy_score(y_test,y_pred)

0.7271666666666666